#debug{
    position: absolute;
    z-index: 50;
    background-color: lightgrey;
    right:0px;
    margin-right:5px;
}

.contextMenu {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;

}

.contextMenu button{
    width: 120px;

}

#characters{
    top:26px;
    width:200px;
    right:0px;
    position: absolute;
    background-color:whitesmoke;
    display: block;
}

.character{
    
    overflow: hidden;
    margin:10px;
}

.character img{
    width:100%;
    max-width:100px;
    max-height:200px;
}

.souschara{
    display:inline-block;
    vertical-align: top;
}

#mainMenu{
    position: absolute;
    top:0px;
    left:0px;
    height:25px;
    width:100%;
    background-color: white;
    border-bottom: 1px ridge grey;
}

#mainMenu>*{
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
}
